<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"
    ></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
        rel="stylesheet"
    />
    <style>
                * {
                    box-sizing: border-box;
                }

                body {
                    font-family: 'Gamja Flower', cursive;
                    margin: 0;
                    background-color: #f45757;
                }

                input {
                    font-family: 'Gamja Flower', cursive;
                    border-radius: 2vw;
                    width: 70vw;
                    text-align: center;
                }

                .title {
                    height: 5vw;
                    font-size: 3vw;
                    margin-top: 10vw;
                    margin-bottom: 5vw;
                }

                .content {
                    height: 70vh;
                    font-family: 'Gamja Flower', cursive;
                    border-radius: 2vw;
                    width: 70vw;
                    text-align: center;
                    font-size: 3vw;
           			resize: none;
                }
		
				body {
        			-ms-overflow-style: none; /* 인터넷 익스플로러 */
           			scrollbar-width: none; /* 파이어폭스 */
        		}

        		body::-webkit-scrollbar {
            		display: none; /* 크롬, 사파리, 오페라, 엣지 */
        		}

        		.sendbtn {
        			background-color: #088A4B;
        			border: 0px;
        			color: white;
        			font-family: 'Gamja Flower', cursive;
        			width: 70vw;
        			height: 5vw;
        			border-radius: 10vw;
        			font-size: 3vw;
        			margin-top: 5vw;
        			margin-bottom: 5vw;
        		}
    </style>
    <script
        src="https://tistory3.daumcdn.net/tistory/941717/skin/images/jquery.min.js"
        type="text/javascript"
    ></script>
    <script
        src="https://tistory3.daumcdn.net/tistory/941717/skin/images/snowfall.jquery.js"
        type="text/javascript"
    ></script>
    <script>
        $(document).ready(function () {
            $(document).snowfall({
                deviceorientation: true,
                round: true,
                minSize: 1,
                maxSize: 8,
                flakeCount: 250,
            });
        });
    </script>
    <center>
		<h1 style="font-size: 7.5vw;">
			읽어 보기!
		</h1>
	<% @posts.each do |post| %>
		<hr>
	<h1><%= post.title %></h1>
	<h1><%= post.content %></h1>
	<% end %>
		<hr>
    </center>
